:root {
    --feher: #ffffff;
    --vilagoskek: #1283b9;
    --sotetkek: #06435f;
}

header {
    display: flex;
    height: 400px;
    background-image: url('../img/balaton_bg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

    justify-content: center;
    align-items: center;
}


a:hover{
    background-color: rgb(255,255,255, 0.2);
}